@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width:100%;
    font-family: "RobotoBold",sans-serif;
    .jumbo_styles{
        margin: 20px auto;        
        width: 75%;
        position: relative;
        box-sizing: border-box;
        background-color: #fff;
        background-clip: padding-box;
        border-radius:16px;
        border: 1px solid rgba(0,0,0,.2);
        border: size 1px;
        p{
            color: #4f4f4f!important;
            font-size:20px;
            margin: 35px 200px 10px;
            font-weight: 500;
            font-family: "RobotoBold",sans-serif;
        }
        h1{
            font-size:48px;
            color:#0f76c6;
            margin:40px auto 30px ;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            text-align: center;
            letter-spacing: .01em;
        } 
      
        .form_style{
            display:flex;
            flex-direction: column;
            justify-content: center;
            .form_group{
                .form_group_label_1{
                    display: flex;
                    justify-content: center;
                    
                .input-group{
                    font-family: "RobotoBold",sans-serif;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 280px;
                    height: 50px;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057 !important;
                    background-color: #fff;
                    background-clip: padding-box;
                    font-size: 14px;
                    text-align: center;
                    padding: 8px;
                    border-radius: 25px;
                    border: 1px solid #ced4da;
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                  }
                  .input-group:focus{
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
                    color: #0f76c6!important;
                    font-family: "RobotoBold",sans-serif;
                    font-weight: 400;
                    border-color: transparent;
                  }
                  .input-group:hover{
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
                    border-color: transparent;  
                 }
                 .input-success{
                    color: #0f76c6!important;
                    font-size: 16px!important;
                    font-family: "RobotoBold",sans-serif!important;
                    font-weight: 400!important;
                    text-decoration: none!important;
                    width: 280px!important;
                    height: 50px!important;
                    text-align-last: center!important;
                     line-height: 1.5!important;
                     background-color: #fff!important;
                     background-clip: padding-box!important;
                     border-radius: 25px!important;
                     border: 1px solid #ced4da!important;
                     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out!important;
                 }
                 .input-success:focus{
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)!important;
                    font-weight: 400;
                    font-family: "RobotoBold",sans-serif!important;
                    border-color: transparent!important;
                  }
                  
                  .input-success:hover{
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)!important;
                    border-color: transparent!important;  
                 }
                 .input-default{
                    width: 280px!important;
                    height: 50px!important;
                    font-family: "RobotoBold",sans-serif !important;
                     font-weight: 400!important;
                     line-height: 1.5!important;
                     color: #495057!important;
                     background-color: #fff!important;
                     background-clip: padding-box!important;
                     font-size: 14px!important;
                     text-align: center!important;
                     border-radius: 25px;
                     border: 1px solid #ced4da;
                     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;                
                 } 
                 .input-default:focus{
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)!important;
                    font-weight: 400;
                    font-family: "RobotoBold",sans-serif!important;
                    border-color: transparent!important;
                  }
                  .input-default:hover{
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15)!important;
                    border-color: transparent!important;  
                 }
                }
                select{
                  border:0;
                  outline: 0;
                  text-align-last: center!important;
                  color: #495057!important;
                  appearance: none;
                }
                
                }
                .btn {
                    height: 50px;
                    padding: 11px 36px;
                    width:150px;
                    text-align: center;
                    border-radius: 24px;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 16px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                  }
                  .btn-styles {
                    background: linear-gradient(
                      92.25deg,
                      #165cc7 -5.37%,
                      #00b9c5 120.57%,
                      rgba(255, 255, 255, 0) 120.59%
                    );
                    font-family: 'RobotoBold', sans-serif!important;
                    color: #fff;
                    border: none;
                  }
                  .btn-styles:not(:disabled):hover,
                  .btn-styles:not(:disabled):focus,
                  .btn-styles:not(:disabled):not(.disabled):active {
                    background: linear-gradient(91.67deg, #104391 0%, #00a5af 124.85%);
                  }
                  .btn-styles:disabled {
                    background-color: #365d81;
                    opacity: 0.5;
                  }
        }

    }
    
}