
*{
    box-sizing: border-box;
}
.container-component{
position: relative;
top:2em;
margin: 0!important;
}
.overlay-styles
{  padding: 0!important;
    z-index:10;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal {
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    text-align: center;
    
    z-index: 1090; /* 1px higher than the overlay layer */
}
.modal-dialog{
  max-width: 855px;
}
.overlay-opp{
  display:none
}
.welcome-area {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    border-radius: 100px;
    height: 100vh;
    .header-text {
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 40%;
        text-align: center;
        width: 100%;
        h1 {
            font-weight: 500;
            font-size: 80px;
            line-height: 54px;
            letter-spacing: 1.4px;
            margin-bottom: 30px;
            color: #fff;
          }
          p {
            font-weight: 400;
            font-size: 20px;
            color: rgb(255, 255, 255);
            line-height: 28px;
            letter-spacing: 0.25px;
            margin-bottom: 40px;
            position: relative;
          }
          .btn {
            padding: 11px 36px;
            width:200px;
            text-align: center;
            border-radius: 24px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 16px;
          }
          .btn-styles {
            background: linear-gradient(92.25deg, #165cc7 -5.37%, #00b9c5 120.57%, rgba(255, 255, 255, 0) 120.59% );
            
            color: #fff;
            border: none;
          }
          .btn-styles:not(:disabled):hover,
          .btn-styles:not(:disabled):focus,
          .btn-styles:not(:disabled):not(.disabled):active {
            background: linear-gradient(91.67deg, #104391 0%, #00a5af 124.85%);
          }
          .btn-styles:disabled {
            background-color: #365d81;
            opacity: 0.5;
          }
    }
    
@media (max-width: 991px) {
    .welcome-area .header-text {
      top: 65% !important;
      transform: perspective(1px) translateY(-60%) !important;
      text-align: center;
    }
    .welcome-area .header-text h1 {
      text-align: center;
      color: #fff;
      margin-bottom: 15px;
    }
    .welcome-area .header-text h1 span {
      color: #fff;
    }
    .welcome-area .header-text p {
      text-align: center;
      color: #fff;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 820px) {
    .welcome-area .header-text {
      top: 65% !important;
      transform: perspective(1px) translateY(-60%) !important;
    }
     .welcome-area .header-text h1 {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 15px;
    }
    .welcome-area .header-text p {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 765px) {
    .welcome-area {
      margin-bottom: 100px;
    }
    .welcome-area .header-text {
      top: 50% !important;
      transform: perspective(1px) translateY(-50%) !important;
      text-align: center;
    }
    .welcome-area .header-text .buttons {
      display: none;
    }
    .welcome-area .header-text h1 {
      font-weight: 600;
      font-size: 24px !important;
      line-height: 30px !important;
      margin-bottom: 30px !important;
    }
    .welcome-area .header-text h1 span {
      color: #fff;
    }
    .welcome-area .header-text p {
      text-align: center;
      color: #fff;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 40px;
    }
  }
}
.content-area{
    margin-top: 5em;
    display:flex;
    .jumbo-img{
        img{
            width:55%;
            height: 85%;
            margin-top:30px;
            border-radius: 10px;
        }
        .img-pic{
          width:70%;
          height: 85%;
          margin-top:0 !important;
          margin-left: 50px;
  
        }
    }
    .jumbo-text{
        text-align:center;
        display: flex;
        h2{
            color: #4f4f4f;
            font-size:35px;
            font-weight: 500;
        }
        .left-text {
            font-weight: 400;
            font-size: 20px;
            color: #777;
            line-height: 28px;
            letter-spacing: 1px;
          }
    }

}
.form-area{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    border-radius: 10px;
    .form-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:50px;
        width: 280px;
        height: 300px;
        padding: 8px;
        border-radius: 10px;
        border: 2px solid #ced4da;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        
    }
    .form-text{
        text-align:center;
        font-size: 24px;
        color: white;
    }
    .form-img{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        img{
            border-radius: 10px;
            height:70%;
            width:70%;
        }
    }
    .form-item:focus{
        box-shadow: 0 0 8px rgba(252, 250, 250, 0.15);
        font-family: "RobotoBold",sans-serif;
        font-weight: 400;
        border-color: transparent;
      }
      .form-item:hover{
        box-shadow: 0 0 8px rgba(252, 250, 250, 0.15);
        border-color: transparent;  
     }
}
