@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
html,body{
  height: 100%;
}
body{
  @media (max-width:470px){
    background:#fff;
  }
}
.App {
  text-align: center;
}


